#gobang{
	width: 100%;
}

#gb-father{
	width: 70%;
	text-align: center;
	display: inline-block;
	float: left;
}
#gb-chess{
	margin-top: 20px;
	margin-left: 10%;
	background-color: #E1C19E;
	box-shadow:-2px -2px 2px #EFEFEF,5px 5px 5px #B9B9B9;  
}

#gb-opt-father{
	width: 20%;
	float: right;
	transform: translate(-40%, 150px);
}
#gb-opt{
	display: flex;
	flex-direction: column;
	height: 300px;
}

#gb-opt button{
	font-size:19px;
	width: 150px;
	flex: 1;
	margin: 20px auto;
	border-radius: 4px;
	border: 1px solid #ccc;
	color: #fff;
	cursor: pointer;
	 /*清除点击时蓝色的边框  */
	outline:0;
	/* box-shadow:-3px -3px 1px #EFEFEF,2px 2px 1px #B9B9B9;   */
}
#gb-opt button:nth-child(1){
	background-color: #449d44;
	border-color: #398439;
}
#gb-opt button:nth-child(1):hover{
	background-color: #5cb85c;
	border-color: #4cae4c;
}
#gb-opt button:nth-child(2){
	background-color: #c9302c;
	border-color: #ac2925;
}
#gb-opt button:nth-child(2):hover{
	background-color: #d9534f;
	border-color: #d43f3a;
}
#gb-opt button:nth-child(3){
	background-color: #ec971f;
	border-color: #d58512;
}
#gb-opt button:nth-child(3):hover{
	background-color: #f0ad4e;
	border-color: #eea236;
}